{% extends "app/layout.html" %}

{% block content %}
<div class="container body-content">
<body class="text-center">
    {% if form.errors %}
    <p>There's something wrong with what you entered!</p>
    {% endif %}
    <h1>Login Page!</h1><br><br>
    {% if next%}
    <p>Hey,you can't access.</p>
    {% endif %}

    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <p>Usename: {{form.username}}</p>
        <p>Password: {{form.password}}</p>
        <p><input type="submit" value="Login"></p>
        <input type="hidden" name="next" value="{{next}}">
    </form>
    <a class="nav-link" href="..\..\register">register</a>
</body>
</div>
{% endblock %}