{% extends "app/layout.html" %}

{% block content %}

  <main role="main">
      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">Welcome To Stock Predictor</h1>
          <p class="lead">This application is concentreded toward finding tomorrow's stock price by using ridge 
            regression and polynomial interpolation of degree 3 and also provide sentiment analysis of Twitter tweets
            using 1st grade intensity analysis related to that stock.</p>
                <hr class="my-4">
                <p>To learn more please click link below.</p>
          <a class="btn btn-primary btn-lg" href="..\about" role="button">Learn more</a>
        </div>
      </div>
</main>
{% endblock %}