{% extends "app/layout.html" %}

{% block content %}
  
<br>
<h1 class="display-4 text-center">{{val}}</h1>

<div id="progress" class="display-4 text-center">
        <svg width="200px"  height="200px"  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="lds-rolling" style="background: none;"><circle cx="50" cy="50" fill="none" ng-attr-stroke="{{config.color}}" ng-attr-stroke-width="{{config.width}}" ng-attr-r="{{config.radius}}" ng-attr-stroke-dasharray="{{config.dasharray}}" stroke="#28292f" stroke-width="5" r="40" stroke-dasharray="188.49555921538757 64.83185307179586" transform="rotate(191.92 50 50)"><animateTransform attributeName="transform" type="rotate" calcMode="linear" values="0 50 50;360 50 50" keyTimes="0;1" dur="1s" begin="0s" repeatCount="indefinite"></animateTransform></circle></svg>
</div>
        <div id="plotly-div"></div>

        <div id="graph"></div>

        <div id="myGauge"></div>
        <br><br>
<div class="container body-content">  
    <div id="news">
        <div class="card-columns">
            <script type="text/javascript" src="https://ssl.gstatic.com/trends_nrtr/1544_RC03/embed_loader.js"></script> 
            <script type="text/javascript"> 
                trends.embed.renderExploreWidget("TIMESERIES", 
                    {
                        "comparisonItem":[
                        {
                            "keyword":"{{value}}",
                            "geo":"",
                            "time":"today 12-m"
                        }
                        ],
                        "category":0,"property":""
                    },
                    {
                        "exploreQuery":"q={{value}}&date=today 12-m,today 12-m","guestPath":"https://trends.google.com:443/trends/embed/"
                    });
            </script>
            {% for ip in allnews %}
                <a href="{{ip.url}}">
                    <div class="card">
                            <img class="card-img-top" src="{{ip.urlToImage}}" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">{{ip.source.name}}</h5>
                                <p class="card-text">{{ip.description}}.</p>
                                <p class="card-text"><small class="text-muted">by {{ip.author}}</small></p>
                            <footer class="blockquote-footer">
                                <small>
                                    Someone famous in <cite title="{{ip.publishedAt}}">{{ip.publishedAt}}</cite>
                                </small>
                            </footer>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
</div>

  <script>
    {% block jquery %}
    var endpoint1 = '/api/chart/data/'
    var defaultData = [];
    var defaultDataSMA1 = [];
    var defaultDataSMA2 = [];
    var pred = [];
    var orig = [];
    var sentiment;

        $.ajax({
                    method: "GET",
                    url: endpoint1,
                success: function(alldata){
                    defaultData = alldata.defaultDaily
                    defaultDataSMA1 = alldata.defaultSMA1                
                    defaultDataSMA2 = alldata.defaultSMA2   
                    sentiment = alldata.sentiment   
                    pred = alldata.predict
                    orig = alldata.original        
                    setCharts()
                    setGauge()
                    set_prid_orig()
                    $("#progress").hide()
                },
                error: function(error_data){
                    console.log("error")
                    console.log(error_data)
                }
            });

            function set_prid_orig() {
                var trace1 = {
                    x: pred.date,
                    open:  pred.open,
                    high:  pred.high,
                    low:  pred.low,
                    close: pred.close,
                    
                    increasing: {line: {color: '#fffe00'}}, 
                    decreasing: {line: {color: '#000000'}},
                    line: {color: 'rgba(31,119,180,1)'}, 
                    
                    type: 'candlestick', 
                    xaxis: 'x', 
                    yaxis: 'y',
                    name:'Predicted'
                    };

                var trace2 = {
                    x: orig.date, 
                    
                    open:  orig.open,
                    high:  orig.high,
                    low:  orig.low,
                    close: orig.close,
                    
                    increasing: {line: {color: '#0000ff'}}, 
                    decreasing: {line: {color: '#ff0000'}},
                    line: {color: 'rgba(31,119,180,1)'}, 
                    
                    type: 'candlestick', 
                    xaxis: 'x', 
                    yaxis: 'y',
                    name:'Original'
                    };

                var layout = {
                title: 'Prediction Chart',
                "titlefont": {
                        "size": 30,
                    },
                };

                var data = [trace1,trace2];

                Plotly.newPlot('graph', data, layout, {responsive: true});
            }

            function setGauge(){
                // Enter a speed between 0 and 180
                var level = (sentiment);

                // Trig to calc meter point
                var degrees = 180 - level,
                    radius = .5;
                var radians = degrees * Math.PI / 180;
                var x = radius * Math.cos(radians);
                var y = radius * Math.sin(radians);

                // Path: may have to change to create a better triangle
                var mainPath = 'M -.0 -0.025 L .0 0.025 L ',
                    pathX = String(x),
                    space = ' ',
                    pathY = String(y),
                    pathEnd = ' Z';
                var path = mainPath.concat(pathX,space,pathY,pathEnd);

                var data = [
                    {   
                        type: 'scatter',
                        x: [0], y:[0],
                        marker: {size: 28, color:'850000'},
                        showlegend: false,
                        name: 'Analysis',
                        text: level,
                    },
                { values: [50/5, 50/5, 50/5, 50/5, 50/5, 50],
                rotation: 90,
                text: ['Strong Buy', 'Buy', 'Neutral', 'Sell',
                            'Strong Sell', '', ''],
                textinfo: 'text',
                textposition:'inside',
                marker: {colors:['rgba(110, 154, 22, .5)',
                                        'rgba(170, 202, 42, .5)', 'rgba(202, 209, 95, .5)',
                                        'rgba(210, 206, 145, .5)', 'rgba(232, 226, 202, .5)',
                                        'rgba(255, 255, 255, 0)']},
                labels: ['144-180', '108-144', '72-108', '37-72', '0-36', ''],
                hole: .5,
                type: 'pie',
                showlegend: false
                }];

                var layout = {
                shapes:[{
                    type: 'path',
                    path: path,
                    fillcolor: '850000',
                    line: {
                        color: '850000'
                    }
                    }],
                title: 'Twitter Analysis',
                "titlefont": {
                        "size": 30,
                    },
                xaxis: {zeroline:false, showticklabels:false,
                            showgrid: false, range: [-1, 1]},
                yaxis: {zeroline:false, showticklabels:false,
                            showgrid: false, range: [-1, 1]}
                };

                Plotly.newPlot('myGauge', data, layout, {responsive: true});
            }
            
            function setCharts(){
                
            var trace1 = {
            x: defaultData.date, 
            close: defaultData.close, 
            decreasing: {line: {color: '#e60000'}}, 
            high:  defaultData.high,
            increasing: {line: {color: '#00cc00'}},
            low:  defaultData.low,
            open:  defaultData.open,
            type: 'candlestick', 
            xaxis: 'x', 
            yaxis: 'y',
            name:'Candle Stick'
            };
            var trace2 = {
                x: defaultDataSMA1.date,
                y: defaultDataSMA1.SMA,
                line:{width: 1.5},
                marker:{color: '#ED0707'},
                mode:'lines',
                name:'Moving Avg-9',
                type:'scatter',
                yaxis:'y'

            };
            var trace3 = {
                x: defaultDataSMA2.date,
                y: defaultDataSMA2.SMA,
                line:{width: 1.5},
                marker:{color: '#2e2eb8'},
                mode:'lines',
                name:'Moving Avg-26',
                type:'scatter',
                yaxis:'y'

            };
            var trace4 = {
                x: defaultData.date,
                y: defaultData.close,
                type: 'scatter',
                name:'Line Chart',
                marker:{color: '#6b6b47'},
                line:{width: 2}
            }
            var data = [trace1,trace2,trace3,trace4];
            
            var layout = {
            showlegend: true,
            dragmode: 'zoom',
            margin: {
                r: 10, 
                t: 25, 
                b: 35, 
                l: 70
            }, 
            xaxis: {
                rangeselector: {
                    buttons: [{
                        step: 'month',
                        stepmode: 'backward',
                        count: 1,
                        label: '1m'
                    }, {
                        step: 'month',
                        stepmode: 'backward',
                        count: 3,
                        label: '3m'
                    }, {
                        step: 'all',
                    }],
                },
                title: 'Date', 
                type: 'date'
            }, 
            yaxis: {
                position:0,
                type: 'linear',
            }
            };
            Plotly.plot('plotly-div', data, layout, {responsive: true});    
        }
    {% endblock %}          
</script>
    
{% endblock %}